body {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.titulo_site {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 4em;
}

.titulo_site a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}

.titulo_site a:hover{
  /* color: rgba(211, 211, 211, 0.500); */
  color: #848884;
}

.nav-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 40px;
}

.nav-wrapper > .nav-link-wrapper {
  font-size: 1.25em;
}

.nav-link-wrapper a{
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}

.nav-link-wrapper a:hover {
  color: #848884;
}

.active-nav-link a {
    color: #848884 !important;
}

.img-pag-principal {
  max-width: 1000px;
  height: 670px;
  position: relative;
  margin: auto;
}

.img-paginas {
  display: flex;
  width: 87.5%;
  height:87.5%;
  margin: auto;
  padding-bottom: 40px;
}

/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  height: 670px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 87.5%;
  height:87.5%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.mySlides img { 
  margin: 0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.5s ease;
  border-radius: 6px 3px 3px 6px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 6px 6px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: black;
  background-color: #848884;
  opacity: 0.25;
}

/* Caption text */
.text {
  padding: 4px 12px;
  bottom: 8px;
  width: 100%;
  margin: 0;
}

.text a {
  color: white;
  font-size: x-large;
  text-decoration: none;
  transition: color 0.5s ease;
}

.text a:hover {
  color: #848884;
}

.contact {
  color: white;
  margin: auto;
  text-align: right;
  padding-bottom: 0px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Audios */

.audio-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.audio-wrapper-container {
  display: flex;
  width: 87.5%;
  margin: 0 auto;
}

.content-wrapper-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 60px;
}

.content-wrapper-container p {
  display: flex;
  width: 87.5%;
  margin: auto;
  padding-bottom: 10px;
  font-size: large;
  text-align: justify;
}

/* .content-wrapper {
  display: flex;
  width: 87.5%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: large;
} */


@media (max-width: 600px) {
  .content-wrapper-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }

  .slideshow-container {
    width: 100%;
    height: 320px;
    padding-bottom: 60px;
  }

  .img-pag-principal {
    width: 100%;
    height: 320px;
  }

  .prev, .next {
    top: 60%;
  }

}



